// ── Nextflow config for DRAGEN TSO500 pipeline ───────────────────────────────

manifest {
    name        = 'dragenTSO500v2'
    description = 'DRAGEN TSO500 pipeline'
    version     = "2.6.2"
}

mail {
    smtp.host = 'localhost'
    smtp.port = 25
}

// ── Params ────────────────────────────────────────────────────────────────────
params {
    // Pipeline-specific params
    pipeline		= 1
    run_folder          = null
    run_base            = '/data/Compass/NextSeq_raw'
    fastq_outdir        = '/data/Compass/dev/valdezkm/TSO500_2.6.2_implementation/NextFlow/FastqFolder'
    demux_outdir        = '/data/Compass/dev/valdezkm/TSO500_2.6.2_implementation/NextFlow/TSO500_v2_Demux'
    tso_outdir          = '/data/Compass/dev/valdezkm/TSO500_2.6.2_implementation/NextFlow/TSO500_Results'
    dragen_bin          = '/opt/dragen/3.11.2/bin'
    email_from 		= "${System.getenv('USER')}@nih.gov"
    email_to            = 'kristin.valdez@nih.gov'
    partition           = 'nci-dragen,nci-lp-dragen'

    // Scripts
    samplesheet_script  = "${projectDir}/scripts/samplesheet.py"
    cleanup_script      = "${projectDir}/scripts/cleanup.sh"
    qc_email_script	= "${projectDir}/scripts/qc_email.py"
    msi_tmb_script      = "${projectDir}/scripts/msi_tmb_hrd_table.py"
    merge_qc_script     = "${projectDir}/scripts/merge_TSO500_QC.py"
    demux_summary_script = "${projectDir}/scripts/demux_summary.py"
}

// ── Resume / caching ──────────────────────────────────────────────────────────
// resume added in submit_pipeline.sh

// ── Singularity ───────────────────────────────────────────────────────────────
singularity {
    enabled      = true
    autoPullMode = true
    autoMounts   = true
    cacheDir     = "/data/$USER/nxf_singularity_cache"
    envWhitelist = 'https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOB_ID,SLURM_JOB_PARTITION,SINGULARITY_BINDPATH,MPLCONFIGDIR'
}

// ── Environment ───────────────────────────────────────────────────────────────
env {
    SINGULARITY_CACHEDIR = "/data/$USER/.singularity"
    OMP_NUM_THREADS      = 1
    OPENBLAS_NUM_THREADS = 1
    PYTHONNOUSERSITE     = 1
}

// ── Profiles ──────────────────────────────────────────────────────────────────
profiles {

    stub {
        process {
            executor       = 'local'
            queue          = null
            clusterOptions = null
            withName: '.*' {
                publishDir = [ enabled: false ]
            }
        }
        executor {
            name = 'local'
        }
    }

    biowulf {
        executor {
            name              = 'slurm'
            pollInterval      = '2 min'
            queueStatInterval = '5 min'
            submitRateLimit   = '6/1min'
        }
        process {
            queue          = params.partition
            clusterOptions = '--mem=0'
            stageInMode    = 'copy'
            cache          = 'lenient'
            errorStrategy = { task.exitStatus in [143,137,104,134,139,151,140,247,12,1,250] ? 'retry' : 'finish' }
            maxRetries     = 2

            withName: 'DEMUX' {
                cpus           = 64
                time           = { 1.h * task.attempt }
                beforeScript   = '''
                    module load singularity
                    ulimit -u 16384 -n 65535
                    unset SINGULARITY_BINDPATH
                '''
            }

            withName: 'TSO500' {
                cpus           = 64
                time = { 1.h * task.attempt }
                beforeScript   = '''
                    module load singularity
                    ulimit -u 16384 -n 65535
                    unset SINGULARITY_BINDPATH
                '''
            }
	    withName: 'QCI_ZIP' {
    		cpus           = 2
    		memory         = '4 GB'
    		time           = '30.min'
    		queue          = 'norm'
    		clusterOptions = '--mem=4g'
	    }
        }
    }
}

// ── Logging ───────────────────────────────────────────────────────────────────
timeline {
    enabled = true
    file    = "pipeline_info/${params.run_folder}_${new Date().format('yyyyMMdd_HHmmss')}_timeline.html"
}
report {
    enabled = true
    file    = "pipeline_info/${params.run_folder}_${new Date().format('yyyyMMdd_HHmmss')}_report.html"
}
trace {
    enabled = true
    file    = "pipeline_info/${params.run_folder}_${new Date().format('yyyyMMdd_HHmmss')}_trace.txt"
}
